/*  Stripped down stylesheet for newpost2mail based on phpBB3 proSilver */
* {margin: 0; padding: 0; font-family: Verdana, Helvetica, Arial, sans-serif;}
* html table, * html select, * html input { font-size: 100%; }
* html hr { margin: 0; }
body {background-color:#e1ebf2;}
.table_info {background-color:#e1ebf2; margin: 3 0 10 6;}
.table_info td {font-size: 11px; line-height: 1.4em;}
.table_post {background-color: #ecf3f7; margin: 3 0 10 6;}
.table_version {background-color:#e1ebf2; margin: 0 0 20 6;}
.table_version td {font-size: 11px; line-height: 1.2em;}
.attachment {color: #000080; font-size: 0.9em;}
a:link, .postlink {color: #000080;}
a:visited, .postlink:visited {color: #000080;}
a:hover, .postlink:hover {color: #c00000; background-color: #ffffff;}
a:active.postlink:active {color: #0000c0;}
.content {min-height: 3em; overflow: hidden; line-height: 1.4em; font-size: 12px; margin: 3 3 3 3;}
.content li {list-style-type: inherit;}
.content ul, .content ol {margin-bottom: 1em; margin-left: 3em;}
.signature {margin-top: 1.5em; padding-top: 0.2em; font-size: 0.9em; border-top: 1px solid #CCCCCC; clear: left; line-height: 140%;}
blockquote {border: 1px solid #dbdbdb; font-size: 0.95em; margin: 0.5em 1px 0 25px; overflow: hidden; padding: 5px; background-color: #EBEADD; border-color:#DBDBCE;}
blockquote blockquote {font-size: 1em;  margin: 0.5em 1px 0 15px; background-color: #EFEED9;}
blockquote blockquote blockquote {background-color: #EBEADD;}
blockquote cite {font-style: normal; font-weight: bold; display: block; font-size: 0.9em;}
blockquote cite cite {font-size: 1em;}
blockquote.uncited {}
dl.codebox {padding: 3px; background-color: #FFFFFF; border: 1px solid #C9D2D8;}
dl.codebox dt {border-bottom: 1px solid #CCCCCC; margin-bottom: 3px; display: block;}
blockquote dl.codebox {margin-left: 0;}
dl.codebox code {overflow: auto; display: block; height: auto; max-height: 200px; white-space: normal; padding-top: 5px; font: 12px "Courier New", Courier, mono; line-height: 1.3em; color: #2E8B57; margin: 2px 0;}
.syntaxbg {color: #FFFFFF;}
.syntaxcomment {color: #FF8000;}
.syntaxdefault {color: #0000BB;}
.syntaxhtml {color: #000000;}
.syntaxkeyword {color: #007700;}
.syntaxstring {color: #DD0000;}
.attachbox {float: left; width: auto; margin: 5px 5px 5px 0; padding: 6px; background-color: #FFFFFF; border: 1px dashed #d8d8d8; clear: left;}
.attachbox dd {margin-top: 4px; padding-top: 4px; clear: left; border-top: 1px solid #C9D2D8;}
.attachbox dd dd {border: none;}
.attachbox p {line-height: 110%; color: #666666; font-weight: normal; clear: left;}
.attach-image {margin: 3px 0; width: 100%; max-height: 350px; overflow: auto;}
.attach-image img {border: 1px solid #999999; cursor: default;}
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {display: block; margin-bottom: 4px;}
div.inline-attachment p {font-size: 100%;}
dl.file {display: block;}
dl.file dt {text-transform: none; margin: 0; padding: 0; font-weight: bold;;}
dl.file dd {color: #666666; margin: 0; padding: 0;}
dl.thumbnail img {padding: 3px; border: 1px solid #666666; background-color: #FFFFFF; color: #666666;}
dl.thumbnail dd {color: #666666; font-style: italic;}
.attachbox dl.thumbnail dd {font-size: 100%;}
dl.thumbnail dt a:hover { background-color: #EEEEEE;}
dl.thumbnail dt a:hover img { border: 1px solid #d2d2d2; border-color: #368AD2;}
.notice {color: #c00000; background-color: #ffffff; width: auto; font-size: 11px; clear: left}
